@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nanum-light';
  src: url(../font/NanumSquareL.otf);
}
@font-face {
  font-family: 'nanum-regular';
  src: url(../font/NanumSquareR.otf);
}
@font-face {
  font-family: 'nanum-bold';
  src: url(../font/NanumSquareB.otf);
}
@font-face {
  font-family: 'nanum-eb';
  src: url(../font/NanumSquareEB.otf);
}
@font-face {
  font-family: 'nanum-acl';
  src: url(../font/NanumSquareOTF_acL.otf);
}
@font-face {
  font-family: 'nanum-acb';
  src: url(../font/NanumSquareOTF_acB.otf);
}

@keyframes pulse1 {
  50% {
    opacity: 0;
  }
}

.animate-pulse1 {
  animation: pulse1 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.home_bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/public/image/home_bg.jpg);
  background-size: cover;
  background-position: center;
}
